<div id="page-content">
  <h1 class="text-center mt-4">update category</h1>

  <div class="container">


  <div class="row justify-content-center">
  <div class="col-10">
  <%= render 'shared/errors', obj: @category %>
    <%= form_with(model: @category, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
    <div class="form-group row">
        <%= f.label :name ,"Categoryname:", class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter category name" %>
        </div>
    </div>
   
    <div class="col-md-12 text-center my-1 mt-3 ">
      <%= f.submit "create", class: "btn btn-outline-light btn-lg " %>
    </div>
    <% end %>
  </div>
  
      <%= link_to '[ Cancel and return to category listing ]', categories_path, class: "text-info text-center mb-3" %>
  </div>
  </div> 
    
  
</div> 